nav {
  background-color: goldenrod;
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 5;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 150px;
  /* border-bottom: 2px solid gray; */
}

.navbar h3 {
  color: black;
}

.navbar h2:hover {
  color: rgb(255, 213, 0);
  font-size: 28px;
}

ul {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  font-size: 18px;
}
ul a {
  text-decoration: none;
  color: black;
}

ul a:hover {
  text-decoration: none;
  color: white;
}

ul a.active {
  color: black;
  font-size: 19px;
  font-weight: bolder;
}

[data-testid="dashboard-link"] {
  color: rgb(70, 69, 66);
  font-weight: 600;
}

@media (max-width: 600px) {
  .navbar {
    gap: 1px;
  }
}
