body {
  background-color: rgba(0, 0, 0, 0.944);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-testid="utc-time"],
[data-testid="utc-day"] {
  color: white;
  margin: 10px;
}

.aboutDetails {
  line-height: 0px;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.content1,
.content2 {
  width: 80%;
}

.image-container {
  display: flex;
  border: 7px solid goldenrod;
  width: 245px;
  height: 250px;
  position: relative;
}

[data-testid="slackProfilePicture"] {
  position: absolute;
  left: 10px;
  bottom: 8px;
}

.goals-bg {
  background-color: goldenrod;
  width: 75%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0px 1px 3px 3px black;
}

.goals {
  height: 40px;
  color: black;
  font-size: 36px;
}

.goals:hover {
  color: white;
  border: 2px solid goldenrod;
}

p {
  line-height: 35px;
}

[data-testid="slackEmail"] {font-size: 20px;}

h1,
h3
{
  color: white;
  font-size: 24px;
}

[data-testid="slackDisplayName"],
.web {
  color: goldenrod;
  font-size: 28px;
}

.links {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  background-color: goldenrod;
  border-radius: 10px;
  padding: 20px 15px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 3;
}

[data-testid="hngLink"],
[data-testid="keywordLink"],
[data-testid="scrapeanywebLink"] {
  color: white;
  list-style-type: none;
  gap: 10px;
  font-size: 18px;
  text-decoration: none;
  color: white;
}

[data-testid="hngLink"]:hover,
[data-testid="keywordLink"]:hover,
[data-testid="scrapeanywebLink"]:hover {
  color: black;
}

[data-testid="slackEmail"] {
  text-decoration: none;
  color: white;
  list-style-type: none;
}

.content1 {
  width: 100%;
  padding: 60px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content2 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.content2 .goal-heading li {
  color: white;
  font-size: 24px;
  color: white;
  text-align: left;
  
}

/* .content2 .goal-heading li:hover,
.goals:hover {
  color: rgb(87, 63, 2);
} */

.goal-heading .skill li,
p {
  list-style-type: circle;
  font-size: 20px;
  text-align: left;
}
.skill li {
  font-size: 2px;
}
.footer {
  bottom: 0;
  background-color: azure;
  width: 100%;
  height: 80px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

@media (max-width: 1000px) {
  [data-testid="hngLink"],
  [data-testid="keywordLink"],
  [data-testid="scrapeanywebLink"] {
    color: white;
    list-style-type: none;
    gap: 3px;
  }

  .content {
    flex-direction: column;
  }

  .content1 h1 {
    text-align: center;
  }

  .image-container {
    margin: 0, 30px;
  }
}
