body {
  background-color: rgba(0, 0, 0, 0.944);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

[data-testid="currentTimeUTC"],
[data-testid="currentDay"] {
  text-align: center;
  color: white;
  margin: 10px;
}

.aboutDetails {
  line-height: 0px;
}

.content {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}

.content1,
.content2 {
  width: 80%;
}

[data-testid="imageBgBorder"] {
  display: flex;
  border: 7px solid goldenrod;
  width: 245px;
  height: 250px;
  position: relative;
}

[data-testid="slackProfilePicture"] {
  position: absolute;
  left: 10px;
  bottom: 8px;
}

.goals-bg {
  background-color: goldenrod;
  width: auto;
  height: auto;
  display: flex;
  padding: 0 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0px 1px 3px 3px black;
}

[data-testid="goals"] {
  height: 40px;
  color: black;
  font-size: 36px;
}

[data-testid="goals"]:hover {
  color: white;
  border: 2px solid goldenrod;
}

p {
  line-height: 35px;
}

h1,
h3 {
  color: white;
  font-size: 24px;
}

[data-testid="Name"],
.web {
  color: goldenrod;
  font-size: 28px;
}

[data-testid="slackDisplayName"],
.web {
  color: goldenrod;
  font-size: 24px;
}

[data-testid="slackEmail"] {
  text-decoration: none;
  color: gold;
  list-style-type: none;
  font-size: 20px;
  padding-top: 10px;
}

.links {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-radius: 10px;
  padding: 20px 15px;
  
}

[data-testid="hngLink"],
[data-testid="keywordLink"],
[data-testid="scrapeanywebLink"] {
  color: white;
  list-style-type: none;
  gap: 10px;
  font-size: 18px;
  text-decoration: none; 
}

[data-testid="hngLink"]:hover,
[data-testid="keywordLink"]:hover,
[data-testid="scrapeanywebLink"]:hover {
  color: goldenrod;
}

.content1 {
  width: 100%;
  padding: 60px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content2 {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  text-align: center;
}

.content2 .goal-heading li {
  color: white;
  font-size: 24px;
  color: white;
  text-align: left;
}

/* .content2 .goal-heading li:hover,
.goals:hover {
  color: rgb(87, 63, 2);
} */

.goal-heading .skill li,
p {
  list-style-type: circle;
  font-size: 20px;
  text-align: left;
  padding: 0 20px;
}

.footer {
  bottom: 0;
  background-color: azure;
  width: 100%;
  height: 80px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}

@media (max-width: 1000px) {
  .links {
    width:95%;
    gap: 1px;
    padding: 10px 10px;
    
  }

  [data-testid="hngLink"],
  [data-testid="keywordLink"],
  [data-testid="scrapeanywebLink"] {
    color: white;
    list-style-type: none;
    gap: 3px;
  }

  .content {
    flex-direction: column;
  }

  .content1 h1 {
    text-align: center;
  }

  [data-testid="goals"] {
    height: auto;
    color: black;
    font-size: 26px;
  }

  [data-testid="imageBgBorder"] {
    margin: 0, 30px;
  }
}
@media (max-width: 400px) {
  [data-testid="goals"] {
    height: auto;
    color: black;
    font-size: 22px;
  }
}
